
.gradent {
width: 100vw;
max-height: 300px;
  background-image: linear-gradient(97.3deg, #1b004eff 15%, #72068fff 67%, #4e0e8bff 89%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
  color: #fff;
  position: relative;
}

.footerGrid{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  text-align: left;
}
.footerGrid5{
  text-align: end;
}
ul{
  list-style-type: none;
}

.textBlock22 {
  color: #fff;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.footerImage{
  width:50px;
  margin: 5px;
}


.icon3 {
  width: 100%;
  height: 100%;
}


.circle3 {
  position: absolute;
  left: 8.8588%;
  right: 60.1355%;
  bottom: 2.9013%;
  top: 0%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.circle4 {
  position: absolute;
  left: 60.0313%;
  right: 8.963%;
  bottom: 0%;
}